/**
 * Site Footer
 * ----------------------------------------------------------------------------
 */


.site-footer {
  width: 100%;
  font-size: 1.1875rem;

  .container {
    display: flex;
    flex-flow: row-wrap;
    align-items: stretch;
    .footer_address {
      flex: 1;
    }
    .footer_opening_hours {
      flex: 1;
      p {
        padding: 4px 0px;
        font-size: 20px;
        font-weight: 800;
        border-bottom-color: currentColor;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }
    .footer_logo {
      flex: 1;
      p{ 
        width: 100%;
        height: 100%;
       
        img {
          max-width: 100%;
        }
      
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .site-footer .container .footer_opening_hours {
    flex: 2;
  }
}

@media only screen and (max-width: 710px) {
  .site-footer .container .footer_opening_hours {
    flex: 3;
  }
}

@media only screen and (max-width: 645px) {
  .site-footer .container .footer_opening_hours {
    flex: 4;
  }
}

.footer_section {
  margin-right: 3%;
}

#colophon {
  background-color: rgb(26, 22, 19);
  color: rgb(170, 170, 170);
  padding: 30px 0px;

  a {
    color: inherit;

    &:hover,
    &:focus {
      border-color: currentColor;
      color: _palette(border);
    }
  }
}

.site-footer h5 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 25px;
}

.site-footer .footer_heading {
  color: rgb(255, 255, 255);
  padding-top: 16px;
  font-weight: 800;
  display: block;
}

.openingHours p span {
  font-weight: 300;
  float: right;
}

.footer-top {
  padding-bottom: 2.5rem;
  padding-top: 3.33333rem;
}

.footer-widgets,
.footer-nav-inside {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.83333rem;
  margin-right: -0.83333rem;
}

.widget {
  box-sizing: border-box;
  -webkit-flex: 0 0 33.333%;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  font-size: 0.88889rem;
  line-height: 1.5;
  padding-left: 0.83333rem;
  padding-right: 0.83333rem;
}

.widget-title {
  color: _palette(border);
  font-size: 1rem;
  margin: 0 0 1.33333rem;
}

.footer-branding {
  a {
    border: 0;
  }

  .site-title {
    font-size: 1.33333rem;

    &:last-child {
      margin-bottom: 2.5rem;
    }
  }

  .site-description {
    margin: 0.5rem 0 2.5rem;
  }
}

.secondary-nav,
.social-nav {
  box-sizing: border-box;
  -webkit-flex: 1 1 150px;
  -ms-flex: 1 1 150px;
  flex: 1 1 150px;
  padding-left: 0.83333rem;
  padding-right: 0.83333rem;

  ul {
    list-style: none;
    margin-bottom: 2.5rem;
    padding: 0;
  }

  li {
    margin: 0 0 0.75em;
  }

  a {
    border: 0;
  }
}

.site-info {
  border-top: 1px solid _palette(primary);
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 1.66667rem;
  padding-top: 1.66667rem;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .footer-branding {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .footer-navigation,
  .footer-subscribe {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 600px) {
  .widget {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}


@media only screen and (max-width: 630px) {
  .site-footer {
    padding-top: 0px;
    .container {
      flex-direction: column;
    }
  }
  .footer_section {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 250px) {
.site-footer .container .footer_opening_hours p {
  font-size: 0.8rem;
}
}